* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat-Regular.ttf);
  }

.container {
  position: relative;
  width: 1180px;
  margin: 0 auto;
}


  @import 'blocks/buttons';
  @import 'blocks/header';
  @import 'blocks/promo';
  @import 'blocks/catalog';
  @import 'blocks/content';
  @import 'blocks/woman';
  @import 'blocks/feedback';
  @import 'blocks/gallery';
  @import 'blocks/footer';