* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
  }

.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

  @import 'blocks/buttons';
  @import 'blocks/promo';
  @import 'blocks/catalog';
  @import 'blocks/header';

