.button {
    width: 277px;
    height: 88px;
    background: #FED84C;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: #2E363E;
    cursor: pointer;
    &_catalog {
        width: 303px;
        height: 54px;
        font-size: 16px;
        margin-top: 67px;
    }
}