.catalog {
    height: 1926px;
}

.card {
    width: 380px;
    height: 582px;
}

.catalog__header {
    color: #2E363E;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 80px;
}

.catalog__cards {
    height: 582px;
}

.card-title {
    color: #2E363E;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    margin: 50px 0px 0px 44px;
}

.card-text {
    color: #2E363E;
    font-size: 16px;
    line-height: 24px;
    margin: 12px 0px 0px 44px;
}

.catalog__price {
    
}