.catalog {
    height: 1926px;
    &__header {
        color: #2E363E;
        font-weight: 500;
        font-size: 48px;
        line-height: 60px;
        margin-bottom: 80px;
        margin-left: 80px;
    }
    &__carts {
        display: flex;
        justify-content: space-between;
        grid-gap: 100px 36px;
        gap: 100px 36px;
    }
    &__card {
        height: 245px;
    }
    &__card-title {
        font-size: 24px;
        line-height: 143%;
        margin: 50px 0px 12px 44px;
    }
    &__card-text {
        color: #2E363E;
        font-size: 16px;
        line-height: 24px;
        margin: 0px 0px 24px 44px;
    }
    &__price {
        color: #434B53;
        margin: 0px 0px 14px 44px;
        font-size: 24px;
        line-height: 150%;
    }

}