.content {
    background-color: #081130;
    height: auto;
    &__bg3_1 img {
        width: 100%;
    }
    &__bg3_2 img {
        width: 100%;
        position: absolute;
        top: 73%;
    }
    &__subheader {
        margin-top: 109px;
        margin-left: 84px;
        width: 255px;
        height: 37px;
        font-size: 11px;
        line-height: 16.5px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        padding: 9px 29px 10px 45px;
        border-radius: 5px;
        background-color: #F2F6FA;
        color: #2E363E;
    }
    &__txt1 {
        width: 481px;
        height: 180px;
        color: #F2F6FA;
        margin-top: 24px;
        margin-left: 84px;
        font-size: 48px;
        font-weight: 500;
        line-height: 60px;
        letter-spacing: -1px;
    }
    &__txt2 {
        width: 481px;
        height: 61px;
        color: #F2F6FA;
        margin-top: 24px;
        margin-left: 84px;
        font-size: 21px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.20000000298023224px;
        text-align: left;

    }
    
}

body > section.content > div {
    position: relative;
}
