.promo {
    height: 1295px;
    background: url(../img/bg1.png) center center/cover no-repeat;
    &__header {
        margin-top: 188px;
        width: 647px;
        height: 462px;
    }
    &__txt {
        width: 132px;
        height: 37px;
        background: #F2F6FA;
        border-radius: 5px;
        padding: 10px 13px;
    }
    &__subheader {
        margin-top: 24px;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        color: #FFFFFF;
    }
    &__txt2 {
        margin-top: 24px;
        font-size: 24px;
        line-height: 143%;
        color: #FFFFFF;  
    }
    &__block {
        margin-top: 40px;
        height: 88px;
        display: flex;
    }
    &__txt3 {
        margin: 20px;
        font-size: 15px;
        line-height: 160%;
        color: #FFFFFF;
    }
}