* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url(/src/fonts/Montserrat-Regular.ttf);
}
.container {
  position: relative;
  width: 1180px;
  margin: 0 auto;
}

.button {
  width: 277px;
  height: 88px;
  background: #FED84C;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
  color: #2E363E;
  cursor: pointer;
}
.button_catalog {
  color: #2E363E;
  border: none;
  font-weight: 500;
  line-height: 152%;
  width: 163px;
  height: 68px;
  border-radius: 8px;
  font-size: 16px;
  padding: 20px 20px 20px 20px;
  margin-left: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header {
  padding-top: 40px;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 550px;
  height: 31px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 21px;
  line-height: 143%;
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__adres {
  position: relative;
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
}
.header__adres img {
  position: absolute;
  left: -21px;
  top: 1px;
}
.header__contacts {
  /* display: flex;
  flex-direction: column;
  align-items: flex-end; */
  width: 180px;
  position: relative;
}
.header__contacts img {
  position: absolute;
  left: -26px;
  top: 5px;
}
.header__phone {
  display: block;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 152%;
  text-decoration: none;
}
.header__day {
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #FFFFFF;
}
.header__header {
  width: 647px;
  height: 334px;
}

.promo {
  height: 1295px;
  background: url(../img/bg1.png) center center/cover no-repeat;
}
.promo__header {
  margin-top: 188px;
  width: 647px;
  height: 462px;
}
.promo__txt {
  width: 132px;
  height: 37px;
  background: #F2F6FA;
  border-radius: 5px;
  padding: 9px 24px;
}
.promo__subheader {
  margin-top: 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #FFFFFF;
  letter-spacing: 1px;
}
.promo__txt2 {
  margin-top: 24px;
  font-size: 24px;
  line-height: 143%;
  color: #FFFFFF;
}
.promo__block {
  margin-top: 40px;
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.promo__txt3 {
  margin: 20px;
  font-size: 15px;
  line-height: 160%;
  color: #FFFFFF;
}

.catalog {
  height: 1926px;
}
.catalog__header {
  color: #2E363E;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 80px;
  text-align: center;
}
.catalog__carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 320px;
}
.catalog__card {
  height: 245px;
}
.catalog__card-title {
  font-size: 24px;
  line-height: 143%;
  margin: 50px 0px 12px 44px;
}
.catalog__card-text {
  color: #2E363E;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0px 24px 44px;
}
.catalog__price {
  color: #434B53;
  margin: 0px 0px 14px 44px;
  font-size: 24px;
  line-height: 150%;
}

.content {
  background-color: #081130;
  height: auto;
}
.content__bg3_1 img {
  width: 100%;
}
.content__bg3_2 img {
  width: 100%;
  position: absolute;
  top: 73%;
}
.content__subheader {
  margin-top: 109px;
  margin-left: 84px;
  width: 255px;
  height: 37px;
  font-size: 11px;
  line-height: 16.5px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 9px 29px 10px 45px;
  border-radius: 5px;
  background-color: #F2F6FA;
  color: #2E363E;
}
.content__txt1 {
  color: #F2F6FA;
}

body > section.content > div {
  position: relative;
}